<div class="profile-card">
    <div class="header"></div>
    <div class="body">
        <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50" alt="profile" class="profile-card__avatar">
        <label class="profile-card__label">Name</label>
        <input type="text" class="profile-card__input">

        <label class="profile-card__label">Email</label>
        <input type="text" class="profile-card__input">

        <label class="profile-card__label">Password</label>
        <input type="password" class="profile-card__input">

        <label class="profile-card__label">Phone</label>
        <input type="text" class="profile-card__input">

        <label class="profile-card__label">Address</label>
        <input type="text" class="profile-card__input">
    </div>
    <div class="footer"></div>
</div>