<form (submit)="upload($event)">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required [formControl]="nameText">
    </div>
    
    <div>
        <label for="duration">Duration:</label>
        <input type="number" id="duration" name="duration" pattern="[0-9]+" required placeholder="The duration of the movie in minutes" [formControl]="durationNumber">
    </div>
    
    <div>
        <label for="image">Picture:</label>
        <input type="file" id="file" name="image" accept="image/*" required #moviePhoto (change)="uploadPicture($event)" autocomplete="off">
    </div>
    
    <div>
        <label for="releaseDate">Release Date:</label>
        <input type="date" id="releaseDate" name="releaseDate" required [formControl]="releaseDateText">
    </div>
    
    <button type="submit">Submit</button>
</form>