<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="5" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card" style="background-image: url('{{card.picture}}'); background-size: cover; width: 100%; background-position: center;">
        <button mat-icon-button class="delete-button" (click)="deleteCard(card)">
          <mat-icon>delete</mat-icon>
        </button>
        <mat-card-content>
          {{card.title}}
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <a routerLink="/home/add-movies" *ngIf="isAdmin">
    <mat-icon class="add-icon">add</mat-icon>
  </a>
</div>