<form (submit)="login($event)">
    <h3>Login Here</h3>

    <label for="username">Username</label>
    <input type="text" placeholder="Email or Phone" id="username" [formControl]="email">

    <label for="password">Password</label>
    <input type="password" placeholder="Password" id="password" [formControl]="password">

    <button type="submit" >Log In</button>
    <div class="social">
        <div class="fb" routerLink="/register" style="cursor: pointer;"><i class="fab"></i>Register</div>
      <div class="fb" routerLink="/login/forgot-pswd" style="cursor: pointer;"><i class="fab"></i>Forgot password</div>
    </div>
</form>