<form>
    <h3>Register Here</h3>

    <label for="emaik">Email</label>
    <input type="text" placeholder="Email" id="email">

    <label for="password">Password</label>
    <input type="password" placeholder="Password" id="password">

    <label for="password-again">Password Again</label>
    <input type="password" placeholder="Password Again" id="password-again">

    <button>Register</button>
    <div class="social">
        <div class="fb" routerLink="/login" style="cursor: pointer;"><i class="fab"></i>Login</div>
      <div class="fb" (click)="back()" style="cursor: pointer;"><i class="fab"></i>Back</div>
    </div>
</form>