<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="3" rowHeight="100px">
    <ng-container *ngFor="let card of cards | async">
      <mat-grid-tile [colspan]="card.cols" [rowspan]="card.rows">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              <mat-radio-button (click)="selectShow(card)">{{card.title}}</mat-radio-button>
            </mat-card-title>
            <mat-card-content style="padding-top: 10px;">
              {{card.time}}
            </mat-card-content>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>
    </ng-container>
  </mat-grid-list>
</div>